body {
  color: aquamarine;
  background-color: brown;
  font-size: xx-large;
  font-family: "Noto Serif", serif;
}

.btn {
  position: fixed;
  bottom: 5%;
  right: 0px;
  transform: translateX(-50%);
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 0.5rem 0.7em;
  background-color: transparent;
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 11;

  -webkit-box-shadow: -9px 9px 9px 9px #031332;
  box-shadow: -9px 9px 9px 9px #031332;
}

.btn:hover {
  background: #65a5b1;
  color: #172e14;
}
